player-connection-mode=Listen
player-connection-guid=1583166191
player-connection-debug=0
player-connection-project-name=2D_Pixel_Port
player-connection-ip=26.125.43.117
player-connection-ip=192.168.1.60
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ea41197fd4bc4d06be4cd55aeac0b5f2
